@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* layout */
* {
	box-sizing: border-box;
}
html,
body {
 	font-family: bio-sans, "平成角ゴシック体", "平成角ゴシック", "ＭＳ Ｐゴシック", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	background-color: #fff;
	color: #fff;
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
}
a {
	text-decoration: none;
}
img {
	width: 85px;
	height: auto;
}
.clear {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

/* .page */
.page {
	position: relative;
	height: auto;
	min-height: 100%;
	border-bottom: 1px solid red;
	box-sizing: border-box;
}

/* .modal */
.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:50%;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
}
.modal-content p {
    margin:0;
    padding:0;
}
.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}
.modal-open:hover {
    cursor:pointer;
    color:#f00;
}
.modal-close {
    color:#00f;
    text-decoration:underline;
}
.modal-close:hover {
    cursor:pointer;
    color:#f00;
}

/* indexred */
/* .mainredchild */
.mainredchild {
	height: calc(100vh - 65px);
	color: #fff;
	overflow-y: scroll;
}
.mainredchild .swiper-button-prev,
.mainredchild .swiper-container-rtl,
.mainredchild .swiper-button-next {
	background-image: none;
}

/* #partners */
#partners {
	background-color: #af0017;
}
#partners .swiper-button-next {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    position: static;
}
#partners .swiper-button-next img {
	width: 72px;
	height: auto;
}
#partners h1 {
	font-size: 30px;
	margin-top: 30px;
}
#partners h2 {
	font-size: 20px;
	margin-top: 40px;
	line-height: 17px;
}
#partners h2 span {
	font-size: 11px;
}
#partners p {
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 12px;
}
#partners p span {
	font-size: 11px;
	display: block;
	line-height: 25px;
}
#partners a {
	color: #fff;
	border-bottom: 9px solid #fff;
	padding: 14px;
	font-size: 20px;
	padding-bottom: 5px;
}

/* #top */
#top {
	background-color: #af0017;
}
#top p {
	margin-top: 21px;
	font-size: 17px;
}
#top .swiper-button-prev {
	width: 240px;
	height: 61px;
	transform: rotate(-90deg);
	font-size: 50px;
	left: -60px;
}
#top .swiper-button-next {
	width: 256px;
	height: 61px;
	transform: rotate(90deg);
	font-size: 50px;
	right: -70px;
}
#top img {
	margin-top: calc(50vh - 42px - 40px - 33px);
}

/* #portfolio */
#portfolio {
	background-color: #af0017;
}
#portfolio .swiper-button-prev {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    position: static;
}
#portfolio .swiper-button-prev img {
	width: 72px;
	height: auto;
}
#portfolio h1 {
	font-size: 30px;
	margin-top: 24px;
}
#portfolio ul {
	margin-top: 25px;
	margin-bottom: 38.5px;
	font-size: 0;
}
#portfolio ul li {
	width: 140px;
	height: 140px;
	display: inline-block;
	background-color: #fff;
	margin: 6.5px;
	font-size: 17px;
}
#portfolio ul li a {
	color: #af0017;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 140px;
}
#portfolio ul li a span {
	font-size: 10px;
}

.sample1 {
	border-collapse: separate;
	border-spacing: 3px 0;
}
/* sample1はtable-cellで縦横中央揃えに */
.sample1 li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 140px;
	height: 140px;
	background-color: #fff;
}
/* aタグのリンクなのでクリックできる範囲を広げます */
.sample1 a {
	padding: 0;
}

/* footer */
footer {
	background-color: #fff;
	color: #af0017;
	height: 49px;
	font-size: 14px;
	line-height: 16px;
}
footer ul {
	margin-top: 13px;
}
footer ul:nth-child(1) li {
	display: inline-block;
	margin: 0 9px;
}
footer ul:nth-child(2) {
	text-align: left;
	font-size: 10px;
	margin: 8px 17px 0 23px;
}
footer ul:nth-child(3) {
	text-align: right;
	font-size: 15px;
	margin: -15px 18px 0 15px;
}
footer ul:nth-child(3) li {
	display: inline-block;
	margin: 0 10px;
}
footer ul li a {
	color: #af0017;
}
